.modal-bg{
    top:0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.7);
    position: fixed;
    width: 100vw;
    z-index: 49;
    height: 100vh;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    background-color: #ffff;
    width: 480px;
    height: 390px;
    max-width: 50rem;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.modal-body{
   max-height: 100%;

}


.dialogueContainter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .meetInput {
    margin:5px auto ;
    background-color: #fff;
    width: 85%;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 50px;
    border-radius: 4px;
    outline: none;
    border: 1.5px solid lightgrey;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  .meetInput:focus {
    border: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
    
  }
  
  .meetInput:hover:not(:focus) {
    outline: 1px solid black;
  }

  .click {
    transition: background .8s ease-out;
    color:white;
    padding: 10px;
    margin:10px;
    width: 88%;
    border: none;
    border-radius: 4px;
    background: #4527a0 radial-gradient(circle, transparent 1%, #7A5FFF 1%) center/15000%;
  }
  
  .click:active {
    background-color: #c1b4ff;
    background-size: 100%;
    transition: background 0s;
  }

