.nav_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    background-color:white;
   height: 70px;
   box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.logo_container{
    display:flex;
    align-items: center;
}